<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta-data'); %>
    <%- include('./partials/style-sheets'); %>
    <link rel="stylesheet" href="./css/forms.css">
    <title>Contact Us | Travel Experts</title>
  </head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="hero-section center flex-column background">
      <h1>TRAVEL EXPERTS</h1>
      <a class="button" href="registration">SIGN UP NOW!
        <span></span><span></span><span></span><span></span>
      </a>
    </header>

    <main class="center">

      <div id="contact-us" class="contact-us">

        <div class="wrapper contact-info">
          <h2>Contact Us</h2>
          <div><span>Office phone Number:</span> (+1)306-205-4567</div></br>
          <div><span>Email Address:</span> Travelexperts@t2p.ca</div></br>
          <div><span>Office Address:</span> 404 Money Street S, Zion, Olympus.</div></br>
          <div><span>Postal Code:</span> Z4P 419</div>
        </div>

        
        <form class="wrapper contact-form" action="/contact-us" method="post">
          <fieldset>
            <legend>Contact Form</legend> 
            <input placeholder="name"  class="input" type="text" id ="name" name="fullName" required pattern="[a-zA-Z]{1,} [a-zA-Z]{1,}" title="Please enter a valid name">
            <input placeholder="subject"  class="input" type="text" id="subject" name="SubJect" required pattern="[a-zA-Z]{1,} [a-zA-Z]{1,}" title="Please fill out subject">
            <input placeholder="email"  class="input" type="email" id="email" name="Email" required autofocus pattern="[a-zA-Z0-9_]{3,}@[a-zA-Z0-9]{3,}[.]{1}[a-zA-Z]{2,}" title="Please enter a valid email">
            <textarea placeholder="Enter text here"  class="input" id="message" name="Text" required autofocus pattern="[a-zA-Z]{1,} [a-zA-Z]{1,}"></textarea>
            <section class="button-container center">
              <button type="submit" class= "button" id="submit">Submit</button>   
              <button class= "button" type="reset">Reset</button>
            </section>
          </fieldset>
        </form>

      </div>

    </main> 

    <%- include('./partials/footer'); %>

  </div>
  <%- include('./partials/scripts'); %>
</body>
</html>