<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/meta-data'); %>
  <%- include('./partials/style-sheets'); %>
  <link rel="stylesheet" href="./css/forms.css">
  <title>Login | Travel Experts</title>
</head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

  <main class="center background">

    <div id="error"></div>
    <form class="register-login" action="/" method="GET">
      <fieldset>
        <legend>Login</legend>
        <div>  
          <label class="required">Username:</label>
          <input id="username" type="username" name="username" required autofocus pattern="[a-zA-Z0-9]" title="please enter a valid username">
        </div>
        <div>
          <label class="required">Password:</label>
          <input id="Password" type="password" name="Password" required>
        </div>
        <section class="button-container center">
          <button class="button" type="submit" id="submit">Submit</button>
          <button class="button" type="reset">Reset</button>
        </section>
      </fieldset>     
    </form>
  </main>

  <%- include('./partials/footer'); %>

  </div>
  <%- include('./partials/scripts'); %>
</body>
</html>

