<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta-data'); %>
    <%- include('./partials/style-sheets'); %>
    <link rel="stylesheet" href="./css/forms.css">
    <title>Registration | Travel Experts</title>
  </head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="Register">
    
    </header>

    <main>
      <div class="placement">
        <h1>REGISTER HERE</h1>
      </div>

      <div id="error"></div>
        
      <form id= "form" action="/registration" method="POST">
        <fieldset>
          <legend><h3>Registration Form</h3></legend>
          <label>
            Full Name:
            <input type="text" id="fullName" name="fullName" required>
          </label>
          <label>
            Email Address:
            <input type="email" id="Email" name="Email" required>
          </label>
          <label>
            Username:
            <input type="username" id="username" name="username" required>
          </label>
          <label>
            Password:
            <input type="password" id="Password" name="Password" required>
          </label> 
          <label>
            Confirm Password:
            <input type="password" id="confirmPassword" name="confirmPassword">
          </label>
          <label>
            Address:
            <input type="address" id="address" name="address" required>
          </label>
          <label>
            Cell phone:
            <input type="" id="businessPhone" name="businessPhone" required>
          </label>
          <label>
            Home phone:
            <input type="" id="homePhone" name="homePhone" required>
          </label> 
          <div class="button-container center">
            <button type="reset">Reset</button>
            <button type="submit" id="submit">Submit</button>
          </div>
        </fieldset>
      </form>
      <!--Message for registration confirmation-->
      <% if(message==''){ %>
        <h2></h2>
     <% }

      else
      { %>
        <h2><%= message %></h2>
     <% } %>

    </main>
          
    <%- include('./partials/footer'); %>

  </div>
  <%- include('./partials/scripts'); %>
</body>
</html>