<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta-data'); %>
    <%- include('./partials/style-sheets'); %>
    <link rel="stylesheet" href="./css/vacation-packages.css">
    <title>Vacation-Packages | Travel Experts</title>
    <style>

    </style>
  </head>

<body>
  <div class='main-content'>

    <%- include('./partials/navigation'); %>

    <header class="hero-section center flex-column background">
      <h1>TRAVEL EXPERTS</h1>
      <p>Thinking of a last-minute vacation?</p>
    
      <p>Our travel deals can take you there for less!</p> 
      <a class="button" href="registration">SIGN UP NOW!
        <span></span><span></span><span></span><span></span>
      </a>
    </header>

    <main class="center">
      <div class="vac-packages">

      </div>
    </main>
 
    <%- include('./partials/footer'); %>

  </div>
  <%- include('./partials/scripts'); %>
  <script src="/js/packages-list.js"></script>
  <script src="/js/vacation-packages.js"></script>
</body>
</html>